{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-4 g-4">

        {% for ds1820b in sondes %}
    <div class="col">
        <div class="card">
            <div class="card-header">Nom:  {{ds1820b.nom}}</div>
            <div class="card-body">

                <p>Info: {{ds1820b.info}}</p>
                <p> Valeur actuelle: {{ds1820b.sonde_valeur_id.valeur}} °C</p>
                <p>Type: {{ds1820b.type_sonde}}</p>
                <p>Présente: {{ds1820b.present}}</p>
                <p>En service: {{ds1820b.en_service}}</p>
            </div>
            <div class="card-footer text-end d-flex justify-content-between">
                <form action="{{url_for('api_delete_sonde')}}" method="post">
                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                    <input type="hidden" name="sonde" value="{{ds1820b.id}}">
                    <input type="submit" value="Supprimer" class="btn btn-sm btn-danger">
                </form>
               <a class="btn btn-sm btn-primary" href="{{url_for('edit_sonde',sonde_id=ds1820b.id)}}">Edition</a>
            </div>
        </div> </div>
    {% endfor %}


</div>


{% endblock %}