.card-body{
    min-height: 335px;
    /*min-height:120px;*/
}
.md-status{
    top:345px;
    /*top:135px;*/
}
.md-panel{
    margin-top:0.4rem;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}
input{
background-color:transparent;
}
.chart{
    position: absolute;
    z-index: 5;
    top:7.5rem;
}
/* affichage des programmations */
.programmations{
    display:none;
    width:52%;
    position:absolute;
    left:110px;
    top:115px;
    z-index:10;
    background-color:white;
    border:solid 1px grey;
}
[data-targethistogramme]{
    cursor:pointer;
}
@media screen and (max-width:767px){
    .card-body{
        min-height: 334px;
        top:8rem;
    }
    .chart{
        top: 12rem;
        width: 97%;
    }
}