{% extends 'base.html'%}

{% block content %}
<div class="row">
    {% if gpios %}
    <div class="col-md-4 mx-auto">
        <h4>Liste des GPIO utilisés</h4>
    <ul>
        {% for gpio in gpios %}
        <li>{{gpio.nom}} &nbsp; {{gpio.valeur}} &nbsp; {{gpio.mode}} &nbsp;{{gpio.appareil.nom}}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
    <div class="col-md-6 mx-auto  bg-light">
        <h4>Création appareil</h4>
        <hr>

            <form action="" method="post">
                {{ appareilform.csrf_token }}
                <p>{{appareilform.nom.label}}{{appareilform.nom}} {{appareilform.description.label}}{{appareilform.description}}</p>
                <p>{{appareilform.categorieappareil.label}}{{appareilform.categorieappareil}}</p>

                <hr>
                <h5>GpioS</h5>
                <div class="d-flex">
                    {% for data in appareilform.gpios %}
                    <div>{{data}}</div>
                    {% endfor %}
                </div>
                <hr>

                <h5>Sondes</h5>
                  <div>

                    {% for data in appareilform.sondes %}

                      <p>{{data.csrf_token}}</p>
                      <p>{{data.capteur.label}} {{data.capteur}}</p>
                        <p>{{data.min.label}}  {{data.min}} {{data.max.label}}  {{data.max}}</p>
                        <p>{{data.unite.label}} {{data.unite}} {{data.en_service.label}}  {{data.en_service}}</p>
                      <p>Type des sonde </p>

                    {% endfor %}
                </div>
                {% for field in mode_de_marcheform %}
                <p>{{field}}</p>
                {% endfor %}
                <hr>
                <input type="submit">
            </form>
    </div>
</div>

{% endblock %}