{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto">

    </div>
</div>

<div class="row">
    <div class="col-md-10 mx-auto alert alert-secondary">
        <h4>Ajout d'un appareil</h4>
        <ul>
            <li>Chauffage Régulé</li>


            <li>Contacteur simple <small>Type commande Chauffeau-eau ou autre</small></li>
            <li>Contacteur avec bouton de commande <small>Type éclairage ou autre</small></li>



        </ul>



    </div>
</div>

{% endblock %}