{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-4 g-4">
            {% for appareil in appareils %}

  <div class="col">
    <div class="card">
     <div class="card-header">{{appareil.nom}} - {{labels[appareil.categorieappareil]}}</div>
      <div class="card-body">


                <p class="card-text">Description:{{appareil.description}}</p>
                <p class="card-text">Mode de Marche: <b>{{appareil.mode_de_marche.mode_de_marche}}</b></p>

                <p class="card-text">{% if appareil.appareil_sonde.sonde_valeur_id %}
                    T°: {{appareil.appareil_sonde.sonde_valeur_id.valeur}} {{appareil.appareil_sonde.unite}}
                    {% endif %}
                </p>
      </div>
        <div class="card-footer">
            <p class="text-muted"><a target="_blanck" href="{{url_for('test', appareil_id=appareil.id)}}">Détail</a></p>
        </div>
    </div>
  </div>

            {% endfor %}
</div>
{% endblock %}