{% extends 'base.html' %}

{% block style %}
    <link href="{{ url_for('static', filename='css/media_query.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 rows-cols-lg-3 pb-2 g-4 mx-auto">
    {% for instance in instances %}
      <div class="col mx-auto" style="max-width:550px">
        <div class="card ">
            <div class="card-header d-flex justify-content-between" style="height:65px">
                <div class="">
                    <h2 class="m-0">{{instance.modelAppareil.nom}}</h2>
                    <span>{{instance.instanceAppareil.label.__doc__}}</span>
                </div>
                <div class="d-flex">
                    {% if instance.modelAppareil.categorieappareil=='Eclairage' %}
                    <span style="width:47px">
                        <img src="{{url_for('static',filename='assets/ampoule.png')}}"  height="100%">
                    </span>
                    {% else %}
                     <span style="width:47px">
                        <img src="{{url_for('static',filename='assets/radiator.png')}}"  height="100%">
                    </span>
                    {% endif %}

                    {% if instance.modelAppareil.appareil_sonde.sonde_valeur_id %}
                    <div style="margin-left:1rem">
                         <span class="btn btn-sm btn-dark" style="font-size:0.75rem">{{instance.modelAppareil.appareil_sonde.sonde_valeur_id.valeur|round(1, 'floor') }}
                             {% if instance.modelAppareil.appareil_sonde.unite == 'deg' %}
                             °C
                             {% endif %} </span>
                    <div><small>{{instance.modelAppareil.appareil_sonde.info }}</small></div>
                    </div>

                    {% endif %}


                </div>



            </div>
            <div class="card-body " style="padding-top:0.5rem">
                <div class="row d-flex bg-light text-dark justify-content-start pb-1 mx-auto" >
                    <div class="col-12 col-md-6 d-flex mx-0 px-0" style="width:max-content">
                    <div class="btn btn-sm btn-secondary md-btn-display md-panel" data-target="md-table-{{instance.modelAppareil.id}}" style="height:max-content">+</div>
                    <!-- programmation-->
                    <form class="" action="" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                        <select name="mdm" id="" class="md-panel"  data-appareil="{{instance.modelAppareil.id}}">
                            {% for data in instance.instanceAppareil.choices_mdm %}
                            <option value="{{data[0]}}" {% if data[0]==instance.modelAppareil.mode_de_marche.mode_de_marche %} selected="" {% endif %}>{{data[1]}}</option>
                            {% endfor %}
                        </select>
                    </form>

                    {% if instance.modelAppareil.mode_de_marche.mode_de_marche=="prog" %}
                    <div data-appareil="{{instance.modelAppareil.id}}" data-span="md-calendar-{{instance.modelAppareil.id}}" class="border-bottom border-secondary border-2" style="cursor:pointer;height:max-content; margin-top:2px; padding:7px 7px" >🗓 ({{instance.modelAppareil.programmations|length}})</div>
                    {% endif %}
                    </div>
                    <div class="col-12 col-md-6 d-flex mx-0 px-0" style="width:max-content">


                    <!-- affichage température plus curseur-->
                    {% if instance.modelAppareil.sonde %}
                    <div class=" d-flex flex-row  px-0" style="z-index:8;" >

                        <div style="cursor: pointer;text-align:left" class=" ms-1 md-panel border-bottom border-primary border-2 ">

                            <div data-target-cursor="md-cursoreco-{{instance.modelAppareil.id}}" class="md-setting"
                                 style="width:80px;margin-top: 3px;padding-bottom: 7px;">Eco:
                                <span data-target-cursor="md-cursoreco-{{instance.modelAppareil.id}}" class="" type="text" name=""
                                      id="eco-{{instance.modelAppareil.id}}"
                                      style="cursor: pointer;width:33px; border:none" ></span>°C
                            </div>

                            <input id="md-cursoreco-{{instance.modelAppareil.id}}" data-target="eco-{{instance.modelAppareil.id}}" class=" md-cursor-{{instance.modelAppareil.id}} md-min "
                                   style="display:none;height: 60px;width:100%" orient="vertical" value="15" min="15" max="25" step=0.5 type="range" name=""  >

                        </div>




                        <div style="cursor: pointer;text-align:left; width:105px;" class=" md-panel border-bottom border-danger border-2">


                            <div data-target-cursor="md-cursorconfort-{{instance.modelAppareil.id}}"  class="md-setting"
                            style="width:110px;margin-top: 3px;padding-bottom: 7px;">Confort:
                                <span data-target-cursor="md-cursorconfort-{{instance.modelAppareil.id}}" class="" type="text" name=""
                                      id="confort-{{instance.modelAppareil.id}}"
                                      style="cursor: pointer;width:33px; border:none" ></span>°C
                            </div>

                            <input id="md-cursorconfort-{{instance.modelAppareil.id}}" data-target="confort-{{instance.modelAppareil.id}}"
                                   class="md-cursor-{{instance.modelAppareil.id}} md-max " style="display:none;height: 60px;width:100%" orient="vertical"
                                   value="17" min="15" max="25" step=0.5 type="range" name=""  >




                        </div>






                    </div>
                    {% endif %}
                    <div class="ms-1 " >
                        <img style="padding-bottom: 5px;margin-top: 9px;" class="border-bottom border-2 border-secondary" data-targethistogramme="{{instance.modelAppareil.id}}" src="{{url_for('static',filename='assets/histogramme.png')}}" width="25px">
                    </div>
                    </div>
                </div>
                <!-- End -->
                <div>
                    <span  id="md-calendar-{{instance.modelAppareil.id}}" class="programmations"></span>
                </div>
                <table id="md-table-{{instance.modelAppareil.id}}" class="table" style="display:none">
                    <thead>
                        <tr><th>Instance</th><th>Model</th></tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td><span data-appareil="{{instance.modelAppareil.id}}" class="btn btn-sm btn-primary">Programmations</span></td>
                            <td>{{instance.modelAppareil.programmations}}</td>
                        </tr>
                            {% if instance.modelAppareil.appareil_sonde.sonde_valeur_id is defined %}
                        <tr>
                            <td>temps min-max</td><td>Min:{{instance.modelAppareil.appareil_sonde.min}} - Max:{{instance.modelAppareil.appareil_sonde.max}} - {{instance.modelAppareil.appareil_sonde.sonde_valeur_id.valeur }}</td>
                        </tr>
                        {% endif %}


                        <tr>
                            <td>gpio</td><td>{% for gpio in instance.modelAppareil.gpios%}
                            <p>{{gpio.nom}} - {{gpio.mode}} - {{gpio.info}} - {{gpio.valeur}}</p>
                            {% endfor%}</td>
                        </tr>
                        <tr>
                            <td>gpio order</td><td>{{instance.modelAppareil.order_gpio}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class=" chart " >
                    <div data-histogramme="{{instance.modelAppareil.id}}" class=" card " style="display:none">
                        <img  src="{{ url_for('static', filename='assets/graph.png') }}" alt="" width="100%" height="100%">
                    </div>
                </div>
                <div class="md-status mt-2" >
                    <div class="card px-0"  >
                        <div class="card-header d-flex ">Status
                            <div class="d-flex justify-content-end w-100 ">
                                {% for gpio in instance.modelAppareil.gpios %}
                                    <div style="font-size:0.8rem " class="btn btn-sm btn-secondary mx-1 py-0" data-gpio="{{gpio.valeur}}">{{gpio.info}}</div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-end mt-1" >
                <a href="" class="btn btn-sm btn-primary ">Détail</a>
            </div>
        </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}

<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}