{% extends 'base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-md-4 g-4 d-none">
            {% for appareil in appareils %}

  <div class="col">
    <div class="card">
     <div class="card-header">{{appareil.nom}} - {{appareil.label}}</div>
      <div class="card-body">
                <p class="card-text">Description:{{appareil.description}}</p>
                <p class="card-text">Mode de Marche: <b>{{appareil.mode_de_marche.mode_de_marche}}</b></p>

                <p class="card-text">{% if appareil.appareil_sonde.sonde_valeur_id %}
                    T°: {{appareil.appareil_sonde.sonde_valeur_id.valeur}} {{appareil.appareil_sonde.unite}}
                    {% endif %}
                </p>
      </div>
        <div class="card-footer">
            <p class="text-muted"><a target="_blanck" href="{{url_for('test', appareil_id=appareil.id)}}">Détail</a></p>
        </div>
    </div>
  </div>
            {% endfor %}
</div>

<div class="row row-cols-1 row-cols-md-2 pb-2 g-4">
    {% for instance in instances %}
      <div class="col">
    <div class="card">

        <div class="card-header d-flex justify-content-between">
            <div>
                <h2>{{instance.modelAppareil.nom}}</h2>
                <small>{{instance.instanceAppareil.label.__doc__}}</small>
            </div>
            <div>
                {% if instance.modelAppareil.appareil_sonde.sonde_valeur_id %}
                    <span class="btn btn-sm btn-dark">{{instance.modelAppareil.appareil_sonde.sonde_valeur_id.valeur }} {{instance.modelAppareil.appareil_sonde.unite }}</span>
                    <div>{{instance.modelAppareil.appareil_sonde.info }}</div>
                    {% endif %}
            </div>


        </div>
        <div class="card-body ">
            <div style="margin-bottom: 1.5rem;">
                <div class="d-flex justify-content-start">
                    <span data-target="md-table-{{instance.modelAppareil.id}}" class="btn btn-sm btn-secondary md-btn-display" style="height:max-content">+</span>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                         <select name="mdm" id="" class="btn btn-sm btn-primary"  data-appareil="{{instance.modelAppareil.id}}">
                        {% for data in instance.instanceAppareil.choices_mdm %}
                        <option value="{{data[0]}}" {% if data[0]==instance.modelAppareil.mode_de_marche.mode_de_marche %} selected="" {% endif %}>{{data[1]}}</option>
                        {% endfor %}
                    </select>
                    </form>
                   
                    {% if instance.modelAppareil.mode_de_marche.mode_de_marche=="prog" %}
                    
                        <span data-appareil="{{instance.modelAppareil.id}}" data-span="md-calendar-{{instance.modelAppareil.id}}" style="height:max-content" class="btn btn-sm btn-light">🗓 ({{instance.modelAppareil.programmations|length}})</span>
                
                    {% endif %}
                    {% if instance.modelAppareil.sonde %}
                    <div class="d-flex justify-content-around mx-1" style="width:245px">
                        <div style="height: 100%;text-align:left" class="w-50">
                            <div>Eco: <input type="text" name="" id="eco-{{instance.modelAppareil.id}}" style="width:33px; border:none" >°C</div>
                            <input data-target="eco-{{instance.modelAppareil.id}}" class="md-cursor-{{instance.modelAppareil.id}} md-min " style="display:none;height: 60px;width:100%" orient="vertical" value="15" min="15" max="25" step=0.5 type="range" name=""  >
                            
                            
                        </div>
                        <div style="height: 100%;text-align:left" class="w-50">
                            <div>Confort: <input type="text" name="" id="confort-{{instance.modelAppareil.id}}" style="width:33px; border:none" >°C</div>
                            <input data-target="confort-{{instance.modelAppareil.id}}" class="md-cursor-{{instance.modelAppareil.id}} md-max " style="display:none;height: 60px;width:100%" orient="vertical" value="17" min="15" max="25" step=0.5 type="range" name=""  >
                            
                           
                        </div>
                        <div style="font-size:1.5rem; cursor: pointer;" data-target-cursor="md-cursor-{{instance.modelAppareil.id}}" class="md-setting">&#x2699;</div>
                       
                    </div>
                    {% endif %}
                </div>
                
                <div>
                    <span  id="md-calendar-{{instance.modelAppareil.id}}" style="display:none; width:100%;position:absolute; left:0px; top:115px;z-index:5;background-color:white"></span>
                </div>
                <table id="md-table-{{instance.modelAppareil.id}}" class="table" style="display:none">
                    <thead>
                        <tr><th>Instance</th><th>Model</th></tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td><span data-appareil="{{instance.modelAppareil.id}}" class="btn btn-sm btn-primary">Programmations</span></td><td>{{instance.modelAppareil.programmations}}</td>
                        </tr>
                            {% if instance.modelAppareil.appareil_sonde.sonde_valeur_id is defined %}
                        <tr>
                            <td>temps min-max</td><td>Min:{{instance.modelAppareil.appareil_sonde.min}} - Max:{{instance.modelAppareil.appareil_sonde.max}} - {{instance.modelAppareil.appareil_sonde.sonde_valeur_id.valeur }}</td>
                        </tr>
                        {% endif %}


                        <tr>
                            <td>gpio</td><td>{% for gpio in instance.modelAppareil.gpios%}
                            <p>{{gpio.nom}} - {{gpio.mode}} - {{gpio.info}} - {{gpio.valeur}}</p>
                            {% endfor%}</td>
                        </tr>
                        <tr>
                            <td>gpio order</td><td>{{instance.modelAppareil.order_gpio}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="chart" class="card" style="min-height: 25vh;">
                Chart
            </div>

        </div>
        <div class="card-footer text-end mt-1" >
            <a href="" class="btn btn-sm btn-primary ">Détail</a>
        </div>
    </div>
      </div>
    {% endfor %}
</div>
{% endblock %}

{% block script %}

<script src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}