{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10 mx-auto  bg-light">
tempo

        <p>{{form}}</p>

        <hr>
        {% for tempo in tempos %}
        <p>{{tempo}}</p>
        {% endfor %}
    </div>
</div>
<div class="row">
    <div class="col-md-10 mx-auto bg-light">

            {% for sonde in sondes %}
        <p>{{sonde}}</p>
        <ul>
            {% for data in sonde.historiques %}
             <li>{{data.valeur}} - {{data.record_at}}</li>
            {% endfor %}
        </ul>
    {% endfor %}



    </div>
</div>
{% endblock %}